
############ Config file for the conversion into Efficient Tree Format (ETF) #########

# Starting snapshot of the simulation
startSnap = 0

#Ending snapshot
endSnap = 199

#Number of snapshots in the simulation
Nsnaps = 200

# h value
h = 0.6751

# Boxsize in Mpc
boxsize = 40

# Number to make the ID's temporally unique
HALOIDVAL = 1000000000000

# Mass field to use as default
MassDef = Mass_tot

# Radius field to use as default
RDef = R_200crit

# Extra fields that are desired, must be name of the dataset(s) and seperated by commas
ExtraFields = 

# Extra fields datatypes, required for AHF and Rockstar. 
ExtraFieldsDtype = 

# full path + name of the .ETF.tree.hdf file to be created
outfilename = /mnt/su3ctm/rpoulton/Dendogram-data/VEL

########### Halofinders/ Treebuilders specifics #################

########## VELOCIraptor ##########

# Filename where the VELOCIraptor file is located
VELfilename = /mnt/su3ctm/rpoulton/waves/analysis/waves_40_512/tree-desc/VELOCIraptor.tree.t4.desc.snap.hdf.data

######### WhereWolf ############

# Has WhereWolf been run on this catalogue (currently only avalible for VELOCIraptor catalog) 0 = no, 1 = yes
WWflag = 0

########## AHF & MergerTree ##########

# file containing the AHF *halo filenames
AHFhalofilelist = AHF_filelist.txt

# file containing the MergerTree filenames
AHFtreefilelist  = AHF_tree_filelist.txt


########## Rockstar ##########

# file containg the Consistent trees *.dat filenames
Rockfilelist = Rockstar_filelist.txt

########## Millenium ##########

#The Milliumum catalogue name, not working
Millfilename = 
