
############ Config file for the conversion into Efficient Tree Format (ETF) #########

# Starting snapshot of the simulation
startSnap = 0

#Ending snapshot
endSnap = 199

#Number of snapshots in the simulation
Nsnaps = 200

# h value
h = 0.6751

# Boxsize in Mpc
boxsize = 40

# Number to make the ID's temporally unique
HALOIDVAL = 1000000000000

# Mass field to use as default
MassDef = Mass_200crit

# Radius field to use as default
RDef = R_200crit

# Extra fields that are desired, must be name of the dataset(s) and seperated by commas
ExtraFields = 

# Extra fields datatypes, required for AHF and Rockstar. 
ExtraFieldsDtype = 

# full path + name of the .ETF.tree.hdf file to be created
outfilename = /mnt/su3ctm/rpoulton/Dendogram-data/VEL.WW

########### Halofinders/ Treebuilders specifics #################

########## VELOCIraptor ##########

# Folder where the VELOCIraptor halo catalogs are located
VELdir = /mnt/su3ctm/rpoulton/L40_N512_HDF/halo_catalogs/

#Where the walkable tree is located
VELwalkabletreefilename = /mnt/su3ctm/rpoulton/L40_N512_HDF/VELOCIraptor.walkabletree.WW.hdf5

######### WhereWolf ############

# Has WhereWolf been run on this catalogue (currently only avalible for VELOCIraptor catalog) 0 = no, 1 = yes
WWflag = 0

########## AHF & MergerTree ##########

# file containing the AHF *halo filenames
AHFhalofilelist = AHF_filelist.txt

# file containing the MergerTree filenames
AHFtreefilelist  = AHF_tree_filelist.txt

# If the output from MergerTree is in the SUSSING2013 format 0 = no, 1 = yes
sussingformat = 0

########## Rockstar ##########

# file containg the Consistent trees *.dat filenames
Rockfilelist = Rockstar_filelist.txt

########## Millenium ##########

#The Milliumum catalogue name, not working
Millfilename = 

####### Other options #########

#How verbose the code is 0 = minimal, 1 = talkative, 2 = chatterbox
iverbose = 0
